
{% extends 'maquette.html' %}
{%block contenu%}
{%load static%}

<!--TITRE PAGE-->
<br><h5 style="margin-left: 2%; color: rgb(12,44,156); font-family:'Trebuchet MS';">Mes visites-ventes pour la journée du {{majourne.datejoune}}</h5><br><br>            



<!-- Bouton pour ouvrir la fenêtre -->

  <div align="Right"><button id="openModal" class="btn btn-success">Nouveau</button></div><br>
  <!--TABLEAU DE DONNEES-->

  <div class="tableinfo" >
    <table class="table table-striped"  >
        
      <tr style="background-color: #f1f1f1;">
        <th><B >N°</B></th>
        <th><B>Date </B></th>
        <th><B>Point de vente</B></th>
        <th ><B>Net à Payer</B></th>
        <th ><B>Observation</B></th>
        <th ><B>Etat</B></th>

        <th ></th>
        <th ><B>Actions</B></th>
  </tr>

{% for mavente in mesventes %}
    
    <tr>
            <th scope="row" >{{mavente.id}}</th>
            <td>{{mavente.datevente}}</td>
            <td>{{mavente.Client.nom}}</td>
            <td>{{mavente.net_payer}}</td>
            <td>{{mavente.commentaire}}</td>
            <td>{{mavente.etat}}</td>


        <!--Boutton voir details-->
            

            <td>
              <a href="/lignevente/{{mavente.id}}"  title="Voir les details">
                <svg id="i-edit" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                <path d="M30 7 L25 2 5 22 3 29 10 27 Z M21 6 L26 11 Z M5 22 L10 27 Z" />
                </svg>
                </a>
            </td>

        
     
            <td  title="Supprimer">
              <a href="#" ><svg id="i-trash" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"  >
              <path d="M28 6 L6 6 8 30 24 30 26 6 4 6 M16 12 L16 24 M21 12 L20 24 M11 12 L12 24 M12 6 L13 2 19 2 20 6" />
              </svg></a>
            </td>
      </tr>
      {% endfor %}
    </table>
  </div>

   <!--FENETRE FLOTTANTE-->
   
<form method="POST">
    {% csrf_token %}

  <div id="myModal" class="modal" >
     
    <div class="modal-content" style="width: 50%;">
        <span class="close">&times;</span>
        <h5 style=" color:  #6e1855; font-family:'Trebuchet MS'">Création de Visite/Vente: </h5><br>

          <div class="bloc_champs">
            <!--Bloc 1 vente-->
                <div class="c1">

                    <div class="divchampsperso"  > 
                        <label>Nature :</label>
                        <select name="etat" id="etat"  onclick="getLocation()" >
                            <option disabled selected>---------------</option>
                            <option value="VENTE" >VENTE</option>
                            <option value="PROSPECTION" >PROSPECTION </option>
                            <option value="APPROVISIONNEMENT" >APPROVISIONNEMENT </option>
                            <option value="RECOUVREMENT" >RECOUVREMENT </option>
                            <option value="LIVRAISON POUR ENTREPOT" >LIVRAISON POUR ENTREPOT </option>
                        </select><br><br>

                        <input type="number" name="objectifvente" id="objectifvente"  placeholder="Objectif vente: " class="form-control" ><br>                        
                          

                        <input type="text" name="gpsx" id="gpsx" placeholder="Lattitude:" hidden >

                        <div>                                      
                                <input type="text" name="region" id="region" placeholder="Région:" disabled hidden>

                        </div>
                       
                    </div>

            </div><!--Fin Bloc 1 vente-->

            <!--Bloc 2 vente-->
            <div class="c2">
                <div class="divinfosup">
                    <div>
                      <label>Le client :</label>
                        <select name="Client_id" id="idpv"  onclick="insererChampspv(), getLocation()">
                            <option disabled selected>---------------</option>
                            {% for cli in lesclients %}
                            <option value="{{cli.id}}" > {{cli.nom}} </option>
                            {% endfor %}
                        </select><br><br>                       

                        <div style="display: none;"><input type="text" name="gpsy" id="gpsy" placeholder="Longitude:" hidden ></div>

                    </div>
                    
                </div>
            </div><!--Fin Bloc 2 vente-->
<!--Bloc 2 vente-->
            <div class="c2">
                <div class="divinfosup">
                    <div>
                      <label>Catégorie vendeur :</label>
                        <select name="Catpresta_id" id="idcatpres"  onclick="insererChampspv()">
                            <option disabled selected>---------------</option>
                            {% for cp in lescatpres %}
                            <option value="{{cp.id}}" > {{cp.libelle}} </option>
                            {% endfor %}
                        </select>
                        <textarea type="text" name="commentaire"  placeholder="Commentaire:" style="width: 97%;"></textarea>

                        <input type="text" name="gps" id="gps" placeholder="Géolocalisation:" hidden >
                    </div>  

                </div>
            </div><!--Fin Bloc 2 vente-->
      
      </div>

         <div align="right" style="margin-right: 5%;">
            <button title="Valider"  id="click"  class="btn btn-floating" style="background-color: rgb(17, 59, 59); color: #ed1c24;" onclick="insererCellules()">
            <!--<button title="Inserer dans le tableau" onclick="insererCellules()" id="click" type="submit"> -->
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-box-arrow-in-down" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M3.5 6a.5.5 0 0 0-.5.5v8a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5v-8a.5.5 0 0 0-.5-.5h-2a.5.5 0 0 1 0-1h2A1.5 1.5 0 0 1 14 6.5v8a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 14.5v-8A1.5 1.5 0 0 1 3.5 5h2a.5.5 0 0 1 0 1z"/>
            <path fill-rule="evenodd" d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
            </svg>
            </button>
          </div>

  </form>
           
  </div>

    <!--Scripts pour afficher la fenetre de saisie flottante-->
  <script src="{% static 'assets/js/fenetre_flottante.js' %}"></script>
  <script src="{% static 'assets/js/recup_gps.js' %}"></script>


{%endblock%}

