<!DOCTYPE html>
<html>
    <head>
        {% load static%}

        {% if user %}

        <link  rel="stylesheet" type="text/css" href="{% static 'assets/css/maquette.css'%}" />
        <link  rel="stylesheet" type="text/css" href="{% static 'assets/css/adtypepoint.css'%}" />
        <link  rel="stylesheet" type="text/css" href="{% static 'assets/css/stylesaisie.css'%}" />

        <!--LIEN DES ICONES https://icons.getbootstrap.com/-->

<!--FROM BOOSTRAP-->            
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
         <!--LES ICONES DE PIED DE PAGE-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.css" rel="stylesheet"/>
    <!-- FROM HTMX-->
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body class="body">
        <div class="header1" >
            <div class="nav1">
                <nav class="navbar navbar-expand-lg ">
                    <div class="container-fluid" >
                    <h1 class="logo"><a href="#"><img src="{% static 'assets/img/logo_n.jpeg'%}" alt="" style="width: 100px;"></a></h1>
                
                    <div >
                      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    
                     </ul>
                        <form class="d-flex" role="search" method="get" >
                        <input class="form-control me-2" type="search" placeholder="Recherche" aria-label="Recherche" name="zonerecherche" >
                        <button class="btn btn-outline-success" type="submit" style="color: aliceblue; border-color: aliceblue;">Rechercher</button>
                        <a><img src="{% static 'assets/img/logo3A.png'%}" alt="" style="width: 100px;"></a>

                        </form>
                     </div>
                 </div>
                </nav>
            </div>
        </div>
        
                
            <div class="conteneur">
                <!--photo bloc du menu-->
                <div name="menu1" class="menu1" align="center"><br>
                    <!--photo du connecté-->
                    <button style="background-color: aliceblue; border:none;"><img class="btn-floating" src="{% static 'assets/img/logo_n.jpeg'%}" alt="" style="width: 100px; "/></button><br>

                    <ul id="menu-accordeon">
                        <li><a href="#">{{user.username}}</a>
                           
                            <ul>
                                <li><a href="{% url 'deconex'%}">Deconnexion</a></li>
                            </ul>
                        </li>
                    </ul><br><br>

                        <!--Le menu-->
                        <ul id="menu-accordeon" >    
                            
                            <li><a href="#">Visites-ventes</a>
                                <ul>
                                    <li><a href="/Adjourne/{{user.id}}">Journées</a></li>
                                    <li><a href="/espaceuser/{{user.id}}">Visites-Ventes</a></li>
                                  <li><a href="{% url 'adclient' %}">Clients</a></li>

                               </ul>
                            </li>
                            
                            <!--Module Administrateur-->
                            {% if user.is_staff %}
                            <li><a href="#">Administration</a>
                                <ul>
                                    <li><a href="{% url 'prod' %}">Produits</a></li>
                                    <li><a href="{% url 'marqueprod' %}">Marques de produits</a></li>
                                    <li><a href="{% url 'catprod' %}">Catégories de Marque</a></li>
                                    <li><a href="{% url 'adcatpresta' %}" >Catégorie Prestataire</a></li>
                                    <li><a href="{% url 'adclient' %}">Clients</a></li>
                                    <li><a href="{% url 'vendeurs' %}">Vendeurs</a></li>
                                    <li><a href="{% url 'adville' %}" >Villes</a></li>
                                    <li><a href="{% url 'region' %}" >Régions</a></li>
                                    <li><a href="{% url 'basedom' %}" >Base DOM</a></li>
                                </ul>
                            </li>
                            {% endif %}

                            <li><a href="#">Statistiques</a>
                                <ul>
                                <li><a href="{% url 'stativente' %}">Ventes par période</a></li>
                                <li><a href="{% url 'venteparcom' %}">Ventes par vendeur</a></li>
                                <li><a href="{% url 'venteparpv'%}">Ventes par type de PDV</a></li>
                                <li><a href="{% url 'venteparmarque'%}">Ventes par marque</a></li>
                                <!--<li><a href="{% url 'venteparcat'%}">Ventes par catégorie</a></li>-->
                                <li><a href="{% url 'Nbrepvviste'%}">Nbre de vente par vendeur</a></li>
                                <li><a href="{% url 'kpiterritoire' %}">KPI Territoire</a></li>


                                </ul>
                            </li>
                            <li><a href="#">Graphes</a>
                                <ul>
                                <li><a href="{% url 'grapheparcom' %}">Graphe par Vendeur</a></li>
                                <li><a href="{% url 'venteparcom' %}">Ventes par Vendeur</a></li>
                                <li><a href="{% url 'venteparpv'%}">Ventes par type de PDV</a></li>
                                <li><a href="{% url 'venteparmarque'%}">Ventes par marque</a></li>
                                <!--<li><a href="{% url 'venteparcat'%}">Ventes par catégorie</a></li>-->


                                </ul>
                            </li>
                            
                            <li><a href="#">...</a>
                                <ul>
                                    <!--<li><a href="">Proformas Mandat</a></li>
                                    <li><a href="">Proformas Bail</a></li>
                                    <li><a href="#">Facture postée</a></li>
                                    <li><a href="">Factures Mandat</a></li>
                                    <li><a href="#">Factures Bail</a></li>
                                    <li><a href="#">Reglements</a></li>
                                    <li><a href="#">Etat impayés</a></li> -->
                                </ul>
                            </li>
                    

                            
                        </ul>
            </div><!--Fin du menu-->

            <!--Zone d'affichage du contenu-->
            <div name="zoneaffichage" class="zoneaffichage" >
                <!--Bloc contenu zone d'afficheg-->
                <section >
                    {% block contenu %}
                    {% endblock %}
                </section>


            </div>
        </div><!--Fin conteneur-->

    </body>

    <footer class="footer1">
         <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4" align="center">
          <!-- Facebook -->
          <a class="btn text-white btn-floating m-1" style="background-color: #3b5998;" href="#!" role="button">
            <i class="fab fa-facebook-f"></i></a>
  
          <!-- Twitter -->
          <a class="btn text-white btn-floating m-1" style="background-color: #55acee;" href="#!" role="button" >
            <i class="fab fa-twitter"></i></a>
  
          <!-- Google -->
          <a class="btn text-white btn-floating m-1" style="background-color: #dd4b39;" href="#!" role="button" >
            <i class="fab fa-google"></i></a>
  
          <!-- Instagram -->
          <a class="btn text-white btn-floating m-1" style="background-color: #ac2bac;" href="#!" role="button" >
            <i class="fab fa-instagram"></i></a>
  
          <!-- Linkedin -->
          <a class="btn text-white btn-floating m-1" style="background-color: #0082ca;" href="#!" role="button" >
            <i class="fab fa-linkedin-in"></i></a>
          <!-- Github -->
          <a class="btn text-white btn-floating m-1" style="background-color: #333333;" href="#!" role="button" >
            <i class="fab fa-github"></i></a>
        </section>
        <!-- Section: Social media -->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 202 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">WYKYS PRIDE</a><br>
        Contact: +225 07 49 43 37 50
      </div>
      <!-- Copyright -->
    </footer>
{% endif %}
</html>


