
{% extends 'maquette.html' %}
{%block contenu%}
{%load static%}

<!--TITRE PAGE-->
<br><h5 style="margin-left: 2%; color: rgb(12,44,156); font-family:'Trebuchet MS';">Ventes par Catégorie:</h5><br><br>            



<!-- Bouton pour ouvrir la fenêtre -->
<select name="idcate" id="idcate"  onchange="venteparcat()">
            <option >---------------</option>
            {% for c in lescats %}
            <option value="{{c.id}}" > {{c.libelle}} </option>
            {% endfor %}
          </select><br><br>
   <!--FENETRE FLOTTANTE-->


<!--TABLEAU DE DONNEES-->

  <div class="tableinfo" >
    <table class="table" id="table_details"  >

        <thead>
        
      <tr style="background-color: #f1f1f1;">
        <th><B >N° </B></th>
        <th><B >N° Vente</B></th>
        <th><B>Date </B></th>
        <th><B>Commercial </B></th>
        <th><B>Point de vente</B></th>
        <th><B>Marque</B></th>
        <th ><B>Catégorie</B></th>
        <th ><B>Prix U</B></th>
        <th><B>Qte</B></th>
        <th ><B>Net à Payer</B></th>
  </tr>  
  </thead>

  <tbody id="tbody">
    <!-- lignes dynamiques ici -->
  </tbody>
  
    </table>
  </div>

    <!--Scripts pour afficher la fenetre de saisie flottante-->
  <script src="{% static 'assets/js/vente.js' %}"></script>
  <script src="{% static 'assets/js/stativente.js' %}"></script>

{%endblock%}

