
{% extends 'maquette.html' %}
{%block contenu%}
{%load static%}

<!--TITRE PAGE-->
<br><h5 style="margin-left: 2%; color: rgb(12,44,156); font-family:'Trebuchet MS';">Ventes par marque de produit:</h5>  <br>            


<!--FENETRE FLOTTANTE-->

<!-- Bouton pour ouvrir la fenêtre -->
  <div align="Right"><button id="openModal" class="btn btn-success">Imprimer</button></div><br>
  <!-- Fenêtre flottante -->
   

<!--TABLEAU DE DONNEES-->

  <div class="tableinfo" >
    <table class="table table-striped"  >
        
      <tr style="background-color: #f1f1f1;">
        <th><B >Marque</B></th>
        <th><B>Totale Vente</B></th>

        <th ><B>Actions</B></th>
  </tr>


    {% for v in lesventes %}
    <tr>
            <th scope="row" >{{v.produit__marque__libelle}}</th>
            <td>{{v.somme}}</td>
            
        <!--Boutton voir details-->
           

            <td>
              <a href="/detailventeparmarque/{{v.produit__marque__id}}"  title="Voir les details de vente">
                <svg id="i-edit" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                <path d="M30 7 L25 2 5 22 3 29 10 27 Z M21 6 L26 11 Z M5 22 L10 27 Z" />
                </svg>
                </a>
            </td>
      </tr>
      {% endfor %}
    </table>
  </div>

    <!--Scripts pour afficher la fenetre de saisie flottante-->
  <script src="{% static 'assets/js/fenetre_flottante.js' %}"></script>

{%endblock%}

