/* Style général de la fenêtre */
.modal {
    display: none; /* cachée par défaut */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 50%;
    height: 50%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5); /* fond semi-transparent */
  }
  
  /* Contenu de la fenêtre */
  .modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  }
  
  /* Bouton de fermeture */
  .close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
